[Unit]
Description=DHCPD docker compose startup.
Requires=docker.service

Wants=docker.service
After=docker.service

Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=15

WorkingDirectory=/home/con-srv/repository/docker-dhcpd-composed

# Remove if up
ExecStartPre=/usr/local/bin/docker-compose down

# Compose up
ExecStart=/usr/bin/local/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/local/docker-compose down

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
